{% extends 'main.html' %}
<!-- Урок 7. -->
<!-- Вместо понравилось мы будем помещать изображение jpg. Для этого неообходимо в шаблон подклчить подключить приложение staticfiles, которое есть в settings.py. Оно сейчас есть, подклчено к Django фреймворку, но его необходимо подключить к файлу шаблону, чтобы мы могли подключать статические файлы-->
<!-- Вот она эта комманда-->
{% load staticfiles %}


{% block article %}
<!-- Статей у нас 2, соответственно нам необходимо в цикле выводить их-->
<!-- В языке шаблонов выражениия (не переменные) заключаются в одной фигурн. ковычке и знаке процента-->
<!-- Перебираем articles сохраняем в article, выводим article-->



{% for article in articles %}
<h6>Дата публикации: {{ article.article_date }}</h6>
<h4><a href="/articles/get/{{ article.id }}">{{ article.article_title }}</a></h4>
<p>{{ article.article_text }}</p>
<!-- Урок 7.-->
<!-- тут должен быть адрес, но в нашем случае мы как и всегда в шаблонах начинаем с вводить комманду с фигурных ковычек и знака процента. sttic - имя нашей переменной, которая отвечает за обработку статичных файлов-->
<p><img src="{% static "like.png" %}" width="14px" height="14px"> {{ article.article_likes }}</p>
<hr>
{% endfor %}
{% endblock %}